
  <div class="header">
    <div class="header-top">
      <div class="c">
        <span class="lf">湖南省化学化工学会欢迎您!</span>
        <div class="rt">
          <a href="javascript:;">登录</a>丨<a href="javascript:;">注册</a>
          <a href="javascript:;">联系我们</a>
        </div>
      </div>

    </div>
    <div class="header-nav">
      <div class="c">
        <ul class="nav-one-class">
          <li class="item"><a href="">首页</a></li>
          <li class="item">
            <a href="">关于学会</a>
             <ul class="nav-two-class">
              <li class="item2"><a href="">学会动态</a></li>
              <li class="item2"><a href="">学会动态</a></li>
              <li class="item2"><a href="">学会动态</a></li>
            </ul> 
          </li>
          <li class="item"><a href="">学会动态</a></li>
          <li class="item"><a href="">学会动态</a></li>
          <li class="item"><a href="">学会动态</a></li>
          <li class="item"><a href="">学会动态</a></li>
          <li class="item"><a href="">学会动态</a></li>
          <li class="item"><a href="">学会动态</a></li>
        <ul>
      </div>
    </div>
  </div>
 
