<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>demoPage</title>
<%- include('./blocks/_header-link.html') %>
</head>
<body>
  <div class="cw reg">
    <%- include('./blocks/_header.html') %>
    <div class="ad">
        <div class="c">
            <a href=""><img src="img/reg_03.png" alt=""></a>
        </div>
    </div>
    <div class="main-wrap ">
        <div class="c cb">
            <div class="tab">
                <div class="tab-wrap">
                    <h1 class="title">学会动态<span>NEWS</span></h1>
                    <ul class="tab-item">
                        <li><a href="" class="hover">最新动态</a> <span class="tab-arr"></span></li>
                        <li><a href="" >省内动态</a></li>
                        <li><a href="" >国内动态</a></li>
                        <li><a href="" >国际动态</a></li>
                    </ul>
                </div>
            </div>
            <div class="main">
                <p class="bread-crumb cb">
                    <a href="">首页&nbsp;|&nbsp;</a>
                    <a href="">学会动态&nbsp;|&nbsp;</a>
                    <a href="">省内动态</a>
                </p>
                 <ul class="news-list mt35 w800 news-list2">
                    <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修程实践教学研修关于举办首届全国汽车工程实践教学研修程实践教学研修</a><span>2017-12-12</span></li>
                    <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
                    <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
                    <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
                    <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
                    <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
                </ul>
                <ul class="news-list mt35 w800 news-list2">
                    <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修程实践教学研修关于举办首届全国汽车工程实践教学研修程实践教学研修</a><span>2017-12-12</span></li>
                    <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
                    <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
                    <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
                    <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
                    <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
                </ul>
                <ul class="news-list mt35 w800 news-list2 mb30">
                    <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修程实践教学研修关于举办首届全国汽车工程实践教学研修程实践教学研修</a><span>2017-12-12</span></li>
                    <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
                    <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
                    <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
                    <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
                    <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
                </ul>
                 <a href="#" class="more f18">+ 加载更多</a> 
                <div class="pages">
                    <a href="javascript:void(0);" class="a_turn  disabled">上一页</a>
                    <a href="javascript:void(0);" class="a_cur">1</a>
                    <a href="javascript:void(0);" class="a_norm">2</a>
                    <a href="javascript:void(0);" class="a_norm">3</a>
                    <a href="javascript:void(0);" class="a_norm">4</a>
                    <a href="javascript:void(0);" class="a_norm">5</a>	
					<a href="javascript:void(0);" class="a_turn ">下一页</a>	
           		</div>
            </div>
        </div>
    </div>
     <%- include('./blocks/_footer.html') %>
</div>
</body>
</html>    