<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>demoPage</title>
<%- include('./blocks/_header-link.html') %>
</head>
<body>
  <div class="cw reg">
    <%- include('./blocks/_header.html') %>
    <div class="ad">
        <div class="c">
            <a href=""><img src="img/reg_03.png" alt=""></a>
        </div>
    </div>
    <div class="main-wrap ">
        <div class="c cb">
            <div class="tab">
                <div class="tab-wrap">
                    <h1 class="title">学会动态<span>NEWS</span></h1>
                    <ul class="tab-item">
                        <li><a href="" class="hover">最新动态</a> <span class="tab-arr"></span></li>
                        <li><a href="" >省内动态</a></li>
                        <li><a href="" >国内动态</a></li>
                        <li><a href="" >国际动态</a></li>
                    </ul>
                </div>
            </div>
            <div class="main">
                <p class="bread-crumb cb">
                    <a href="">首页&nbsp;|&nbsp;</a>
                    <a href="">学会动态&nbsp;|&nbsp;</a>
                    <a href="">省内动态</a>
                </p>
                <div class="title-infor2">
                    <h3 class="f24">"湖北省化学化工学会青年委员会成立会议暨全体委员第一次会议在华中科技大学成功召开"</h3>
                    <p>
                        <span>作者：</span>
                        <span>湖北省化学化工学会</span>&nbsp;&nbsp;
                        <span>发表时间：</span>
                        <span> 2017-09-12</span>
                    </p>
                </div>
                <div class="news-con">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017年8月21日，湖北省化学化工学会青年委员会成立会议暨全体委员第一次会议在华中科技大学国际学术交流中心成功召开。来自省内部分高校、企业的26名委员及华中科技大学化学与化工学院10名优秀青年教师代表参加了此次会议。湖北省化学化工学会秘书长袁明、华中科技大学科协常务副主席曹锋、华中科技大学化学与化工学院党委书记李涛、湖北省化学工业研究设计院党委书记李东兴等领导出席了此次会议。</p>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;会议由华中科技大学化学与化工学院朱锦涛院长主持。</p>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;华中科技大学科协常务副主席曹锋首先致欢迎辞。他代表华中科技大学对各位委员、专家学者的莅临表示热烈欢迎，并简要介绍了华中科技大学化学与化工学院的发展状况、学科建设、科研成果等方面的情况，并表示校科协将全力支持湖北省化学化工学会青年委员会的各项工作。</p>
                     <img src="img/index-news.jpg" alt="">
                      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017年8月21日，湖北省化学化工学会青年委员会成立会议暨全体委员第一次会议在华中科技大学国际学术交流中心成功召开。来自省内部分高校、企业的26名委员及华中科技大学化学与化工学院10名优秀青年教师代表参加了此次会议。湖北省化学化工学会秘书长袁明、华中科技大学科协常务副主席曹锋、华中科技大学化学与化工学院党委书记李涛、湖北省化学工业研究设计院党委书记李东兴等领导出席了此次会议。</p>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;会议由华中科技大学化学与化工学院朱锦涛院长主持。</p>
                     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;华中科技大学科协常务副主席曹锋首先致欢迎辞。他代表华中科技大学对各位委员、专家学者的莅临表示热烈欢迎，并简要介绍了华中科技大学化学与化工学院的发展状况、学科建设、科研成果等方面的情况，并表示校科协将全力支持湖北省化学化工学会青年委员会的各项工作。</p>
      
                </div>





            </div>
        </div>
    </div>
     <%- include('./blocks/_footer.html') %>
</div>
</body>
</html>       