<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>demoPage</title>
<%- include('./blocks/_header-link.html') %>
</head>
<body>
  <div class="cw reg">
    <%- include('./blocks/_header.html') %>
    <div class="ad">
        <div class="c">
            <a href=""><img src="img/reg_03.png" alt=""></a>
        </div>
    </div>
    <div class="main-wrap ">
        <div class="c cb">
            <div class="tab">
                <div class="tab-wrap">
                    <h1 class="title">加入学会<span>JOIN</span></h1>
                    <ul class="tab-item">
                        <li><a href="" class="hover">学会章程</a> <span class="tab-arr"></span></li>
                        <li><a href="" >学会章程</a></li>
                        <li><a href="" >学会章程</a></li>
                        <li><a href="" >1学会章程2学会章程3学会章程</a></li>
                    </ul>
                </div>
            </div>
            <div class="main">
                <p class="bread-crumb cb">
                    <a href="">首页&nbsp;|&nbsp;</a>
                    <a href="">会员中心&nbsp;|&nbsp;</a>
                    <a href="">个人信息</a>
                </p>
                <h3 class="title-infor f30">个人信息</h3>
                <table class="p-i-table">
                    <tbody>
                        <tr>
                            <td class="td1">邮箱地址：</td>
                            <td class="cmain">276039225@qq.com</td>
                        </tr>
                        <tr>
                            <td class="td1">姓 名：</td>
                            <td class="cmain">黄斯贺</td>
                        </tr>
                        <tr>
                            <td class="td1">性 别：</td>
                            <td class="cmain">男</td>
                        </tr>
                        <tr>
                            <td class="td1">出生日期：</td>
                            <td class="cmain">1984年02月02日</td>
                        </tr>
                        <tr>
                            <td class="td1">党 派：</td>
                            <td class="cmain">九三学社</td>
                        </tr>
                        <tr>
                            <td class="td1">文化程度：</td> 
                            <td class="cmain">大学</td>
                        </tr>
                        <tr>
                            <td class="td1">学 位：</td>
                            <td class="cmain">博士后</td>
                        </tr>
                        <tr>
                            <td class="td1">职称/身份：</td>
                            <td class="cmain">高级工程师</td>
                        </tr>
                        <tr>
                            <td class="td1">专 业：</td>
                            <td class="cmain">理论化学</td>
                        </tr>
                        <tr>
                            <td class="td1">研究方向：</td> 
                            <td class="cmain">化学的物理应用"</td>
                        </tr>
                    </tbody>
                </table>
                <p class="dashb"></p>
                <table class="p-i-table">
                    <tbody>
                        <tr>
                            <td class="td1">学科/专业委员会：</td>
                            <td class="cmain">精英物理化学研究委员会</td>
                        </tr>
                        <tr>
                            <td class="td1">职 务:</td>
                            <td class="cmain">执行会长</td>
                        </tr>
                        <tr>
                            <td class="td1">工作单位：</td>
                            <td class="cmain">北京大学化学学院</td>
                        </tr>
                        <tr>
                            <td class="td1">所在地区：</td>
                            <td class="cmain">中国 北京</td>
                        </tr>
                        <tr>
                            <td class="td1">固定电话：</td>
                            <td class="cmain">010-53800211</td>
                        </tr>
                        <tr>
                            <td class="td1">移动电话：</td> 
                            <td class="cmain">18578994038</td>
                        </tr>
                        <tr>
                            <td class="td1">传 真：</td>
                            <td class="cmain">010-53810058
</td>
                        </tr>
                        <tr>
                            <td class="td1">邮寄地址：</td>
                            <td class="cmain">北京市海淀区北京大学化学学院办公楼701室</td>
                        </tr>
                        <tr>
                            <td class="td1">邮政编码：</td>
                            <td class="cmain">100003</td>
                        </tr>
                    </tbody>
                </table>
                <p class="dashb"></p>
                <table class="p-i-table">
                    <tbody>
                        <tr>
                            <td class="td1">主要经历：</td>
                            <td class="cmain">
                                <p class="line25">参会青年化学家围绕化学如何与生物技术结合产生新的前沿研究方向，以及如何利用化学手段更加行之有效地开发和利用先进材料、创造更多的经济价值开展了深入的学术研讨和互动。针对无机生物材料、上转换发光纳米材料、水裂解电催化材料、杂环光电材料等一系列先进材料进行了探讨，同时对这些先进材料在糖类大分子组装、蛋白药物、肿瘤微环境、生物催化剂、抗菌等方面的应用提出了新的建议。 </p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
     <%- include('./blocks/_footer.html') %>
</div>
</body>
</html>               