<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>demoPage</title>
<%- include('./blocks/_header-link.html') %>
</head>
<body>
  <div class="cw">
    <%- include('./blocks/_header.html') %>
    <div class="ad">
        <div class="c">
            <a href=""><img src="img/reg_03.png" alt=""></a>
        </div>
    </div>
    <div class="c cb person-c">
        <div class="box mr30">
            <h1 class="title">有机硅纳米粒子</h1>
            <p class="infor line30">“青年人才托举工程”项目由中国科协于2015年9月立项，择优支持中国科协所属全国学会或学会联合体具体实施。该项目采用以奖代补、稳定支持的方式，大力扶持有较大创新能力和发展潜力的30岁上下青年科技人才，帮助他们在创造力。</p>
            <div class="detial cb">
                <img src="img/p_05.jpg" alt="">
                <div class="lf line30">
                    <h3 class="f16 cmain">姓名：陈雨  </h3>
                    <p>学历：博士 </p>
                    <p>职称：副研究员 </p>
                    <p>工作单位：中国科学院上海硅酸盐研究所</p>
                    <p>联系电话：021-52412704</p>
                    <p>邮箱：chenyu@mail.sic.ac.cn"</p>
                </div>
            </div>
        </div>
        <div class="box">
            <h1 class="title">有机硅纳米粒子</h1>
            <p class="infor line30">“青年人才托举工程”项目由中国科协于2015年9月立项，择优支持中国科协所属全国学会或学会联合体具体实施。该项目采用以奖代补、稳定支持的方式，大力扶持有较大创新能力和发展潜力的30岁上下青年科技人才，帮助他们在创造力。</p>
            <div class="detial cb">
                <img src="img/p_05.jpg" alt="">
                <div class="lf line30">
                    <h3 class="f16 cmain">姓名：陈雨  </h3>
                    <p>学历：博士 </p>
                    <p>职称：副研究员 </p>
                    <p>工作单位：中国科学院上海硅酸盐研究所</p>
                    <p>联系电话：021-52412704</p>
                    <p>邮箱：chenyu@mail.sic.ac.cn"</p>
                </div>
            </div>
        </div>
    </div>
    <div class="c mb40">
        <div class="title-big-orange mt35">
            <h1 >项目进展</h1>
        </div>
         <ul class="news-list w800 news-list2">
            <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修程实践教学研修关于举办首届全国汽车工程实践教学研修程实践教学研修</a><span>2017-12-12</span></li>
            <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
            <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
            <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
            <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
            <li><a href="#">·&nbsp;&nbsp;关于举办首届全国汽车工程实践教学研修</a><span>2017-12-12</span></li>
        </ul>

    </div>
    <div class="message">
        <div class="c cb">
            <div class="box mr30">
               <div class="title-big-orange ">
                    <h1 >留言展示</h1>
               </div> 
               <div class="m-show">
                    <div class="item">
                        <p class="f12 c96">2016/3/10 19:37:07 网友 对 胡蓉蓉 留言：</p>
                        <p class="p1">胡老师，您好！我对您的高分子共聚合成很感兴趣，希望能与您探讨一下。</p>
                    </div>
                    <div class="item">
                        <p class="f12 c96">2016/3/10 19:37:07 网友 对 胡蓉蓉 留言：</p>
                        <p class="p1">胡老师，您好！我对您的高分子共聚合成很感兴趣，希望能与您探讨一下。胡老师，您好！我对您的高分子共聚合成很感兴趣，希望能与您探讨一下。</p>
                    </div>
                    <div class="item">
                        <p class="f12 c96">2016/3/10 19:37:07 网友 对 胡蓉蓉 留言：</p>
                        <p class="p1">胡老师，您好！我对您的高分子共聚合成很感兴趣，希望能与您探讨一下。</p>
                    </div>
                    <div class="item">
                        <p class="f12 c96">2016/3/10 19:37:07 网友 对 胡蓉蓉 留言：</p>
                        <p class="p1">胡老师，您好！我对您的高分子共聚合成很感兴趣，希望能与您探讨一下。</p>
                    </div>
               </div>
            </div>
            <div class="box">
                <div class="title-big-orange ">
                    <h1 >我要留言</h1>
               </div>
                <p class="line30 cgreen mt20">如对项目或托举人才有好的想法和建议，欢迎您留言交流。</p>
                <select class="mt10 s1">
                    <option value="">请选择留言对象</option>
                </select>
                <textarea class="mt10 leave-message" rows="6" cols="20">请填写您想说的话（审核后显示）</textarea>
                 <a href="" class="btn-blue-m">提交留言</a>
            </div>

        </div>
    </div>
 <%- include('./blocks/_footer.html') %>
    <script>
        $('.leave-message').focus(function(){
            $(this).html('');
        })
    </script>
</div>
</body>
</html>               