<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>demoPage</title>
<%- include('./blocks/_header-link.html') %>
</head>
<body>
  <div class="cw reg">
    <%- include('./blocks/_header.html') %>
    <div class="ad">
        <div class="c">
            <a href=""><img src="img/reg_03.png" alt=""></a>
        </div>
    </div>
    <div class="main-wrap ">
        <div class="c cb">
            <div class="tab">
                <div class="tab-wrap">
                    <h1 class="title">加入学会<span>JOIN</span></h1>
                    <ul class="tab-item">
                        <li><a href="" class="hover">学会章程</a> <span class="tab-arr"></span></li>
                        <li><a href="" >学会章程</a></li>
                        <li><a href="" >学会章程</a></li>
                        <li><a href="" >1学会章程2学会章程3学会章程</a></li>
                    </ul>
                </div>
            </div>
            <div class="main">
                <p class="bread-crumb cb">
                    <a href="">首页&nbsp;|&nbsp;</a>
                    <a href="">加入学会&nbsp;|&nbsp;</a>
                    <a href="">我要注册</a>
                </p>
                <h3 class="title-infor f30">注册加入湖南省化学化工学会</h3>
                <div class="tc" style="height:480px;">
                    <img src="img/success_03.png" alt="" class="reg-success-icon">
                <p class="corange mt35 mb15 f18">恭喜您已成功注册湖南省化学化工学会，现在您可以：</p>
                <p><a href="" class="f18 aline">1、返回网站首页</a></p>
                <p class="mt10"><a href="" class="f18 aline">2、自动跳转到登录页面</a></p> 

                </div>
                


            </div>
        </div>
    </div>
     <%- include('./blocks/_footer.html') %>
</div>
</body>
</html> 