<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>demoPage</title>
<%- include('./blocks/_header-link.html') %>
</head>
<body>
  <div class="cw reg">
    <%- include('./blocks/_header.html') %>
    <div class="ad">
        <div class="c">
            <a href=""><img src="img/reg_03.png" alt=""></a>
        </div>
    </div>
    <div class="main-wrap ">
        <div class="c cb">
            <div class="tab">
                <div class="tab-wrap">
                    <h1 class="title">加入学会<span>JOIN</span></h1>
                    <ul class="tab-item">
                        <li><a href="" class="hover">学会章程</a> <span class="tab-arr"></span></li>
                        <li><a href="" >学会章程</a></li>
                        <li><a href="" >学会章程</a></li>
                        <li><a href="" >1学会章程2学会章程3学会章程</a></li>
                    </ul>
                </div>
            </div>
            <div class="main">
                <p class="bread-crumb cb">
                    <a href="">首页&nbsp;|&nbsp;</a>
                    <a href="">加入学会&nbsp;|&nbsp;</a>
                    <a href="">我要注册</a>
                </p>
                <h3 class="title-infor f30">会员注册</h3>
                <p class="t1">
                    如果您已经拥有汽车工程学会账号，或者已经报名参加活动，请您 
                    <a href="">直接登录</a>
                </p>
                <table class="reg-table">
                    <tbody>
                        <tr>
                            <td class="tr">邮箱地址：</td>
                            <td>
                                <input type="text" class="control1">
                                <span class="c96">*</span> 
                                <span class="tip">您的E-mail地址将作为登录名使用</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tr">密码：</td>
                            <td>
                                <input type="text" class="control1">
                                <span class="c96">*</span> 
                                <span class="error">密码错误</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tr">确认密码：</td>
                            <td>
                                <input type="text" class="control1">
                                <span class="c96">*</span> 
                                <span class="correct">密码正确</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tr">姓名：</td>
                            <td>
                                <input type="text" class="control1">
                                <span class="c96">*</span> 
                                <span class="correct">密码正确</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="rt">性       别：</td>
                            <td>
                                <input type="radio" name="sex"  value="1"> 
                                <label>男</label> &nbsp; &nbsp; 
                                <input type="radio" name="sex"  value="0">
                                <label>女</label> 
                                <span class="c96">*</span> 
                                <span class="error">请选择性别</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tr">出生日期：</td>
                            <td>
                                <input type="text" class="control1">
                                <img src="img/reg_07.png" alt="" class="vm">
                                <span class="c96">*</span> 
                            </td>
                        </tr>
                        <tr>
                            <td class="tr">党派：</td>
                            <td>
                                <input type="text" class="control1">
                            </td>
                        </tr>
                        <tr>
                            <td class="tr">文化程度：</td>
                            <td>
                                <select  class="control3">
                                    <option value="">请选择</option>
                                    <option value=""></option>
                                    <option value=""></option>
                                    <option value=""></option>
                                </select>
                                <span class="c96">*</span> 
                            </td>
                        </tr>
                        <tr>
                            <td class="tr">学位：</td>
                            <td>
                                <input type="text" class="control1">
                            </td>
                        </tr>
                        <tr>
                            <td class="tr">职称/身份：</td>
                            <td>
                                <select  class="control3">
                                    <option value="">请选择</option>
                                    <option value=""></option>
                                    <option value=""></option>
                                    <option value=""></option>
                                </select>
                                <span class="c96">*</span> 
                            </td>
                        </tr>
                        <tr>
                            <td class="tr">专 业：</td>
                            <td>
                                <select  class="control3">
                                    <option value="">请选择</option>
                                    <option value=""></option>
                                    <option value=""></option>
                                    <option value=""></option>
                                </select>
                                <span class="c96">*</span> 
                            </td>
                        </tr>
                        <tr>
                            <td class="tr">研究方向：</td>
                            <td>
                                <input type="text" class="control1">
                            </td>
                        </tr>
                         <tr>
                            <td class="tr">学科/专业委员会：</td>
                            <td>
                                <select  class="control3">
                                    <option value="">请选择</option>
                                    <option value=""></option>
                                    <option value=""></option>
                                    <option value=""></option>
                                </select>
                                <span class="c96">*</span> 
                            </td>
                        </tr>
                        <tr>
                            <td class="tr">职 务：</td>
                            <td>
                                <input type="text" class="control1">
                                <span></span>
                                <span></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tr">工作单位：</td>
                            <td>
                                <input type="text" class="control1">
                                <span class="c96">*如：xx大学xx学院（或系）</span>
                                <span></span>       
                            </td>   
                        </tr>
                        <tr>
                            <td class="tr">所在地区：</td>
                            <td>
                                <select  class="control2">
                                    <option value="">请选择</option>
                                    <option value=""></option>
                                    <option value=""></option>
                                    <option value=""></option>
                                </select>
                                &nbsp;&nbsp;国家&nbsp;&nbsp;—&nbsp;&nbsp;
                                <select  class="control2">
                                    <option value="">请选择</option>
                                    <option value=""></option>
                                    <option value=""></option>
                                    <option value=""></option>
                                </select>   
                                &nbsp;&nbsp;地区
                                <span class="c96">*</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tr">固定电话：</td>
                            <td>
                                <input type="text" class="control1">
                            </td>
                        </tr>
                        <tr>
                            <td class="tr">移动电话：</td>
                            <td>
                                <input type="text" class="control1">
                            </td>
                        </tr>
                        <tr>
                            <td class="tr">传真：</td>
                            <td>
                                <input type="text" class="control1">
                            </td>
                        </tr>
                        <tr>
                            <td class="tr" >邮寄地址：</td>
                            <td class="pr">
                                <input   type="text" class="control2">
                                &nbsp;&nbsp;省&nbsp;&nbsp;—&nbsp;&nbsp;
                                <input   type="text" class="control2">   
                                &nbsp;&nbsp;市
                                <span class="c96">*</span>
                                <span class="tip posi pa">
                                    此地址用于挂号信邮寄会员证和发票，格式如下xx省xx市xx路（或街）xx号，xx大学xx学院（或系）
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><input type="text" class="control1"></td>
                        </tr>
                        <tr>
                            <td class="tr">邮政编码：</td>
                            <td>
                                <input type="text" class="control1">
                                <span class="c96">*</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tr">主要经历：</td>
                            <td>
                               <textarea rows="4" cols="50" class="control4"></textarea>
                               <span class="c96">*</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="tr">验证码：</td>
                            <td>
                                <input type="text" class="control1">
                                <span class="c96">*</span>
                                <a href=""><img src="img/reg_11.png" alt="" class="vm"></a>
                            </td>
                        </tr>
                         <tr>
                            <td class="tr"></td>
                            <td>
                                <input type="checkbox">
                                <label for="read" class="cgreen">我已经阅读并接受“入会须知*</label>
                            </td>
                        </tr>
                         <tr>
                            <td class="tr"></td>
                            <td>
                                <a href="" class="btn-blue-l">提  交</a>
                            </td>
                        </tr>
                    </tbody>
                </table>        
            </div>
        </div>
    </div>





    <%- include('./blocks/_footer.html') %>
</div>
</body>
</html>